<!DOCTYPE html>
<html>
    <head>
        <title>Vue的script使用</title>
        <meta charset="utf-8">
        <style rel="stylesheet">
            .red{
                background-color: red;
            }
            .blue{
                background-color: blue;
            }
            .yellow{
                background-color: yellow;
            }
            .big{
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        <div id="app" >
            <div :title="title" :class="[r,B]">{{ name }}</div>
            <div :class="[b&&r]" :class="r">{{ name }}</div>
            <div :class="[b||r]" :class="r">{{ name }}</div>
            <div :class="color[index]" @click="change">颜色</div>
            <div v-if="display">显示模块</div>
            <button  @click="Display">{{ value }}</button>
            <ul>
                <li v-for="(temp,index) in color">{{ temp }}----{{ index }}</li>
            </ul>
            <ul>
                <li v-for="(temp,key,index) in Obj">{{ temp }}---{{ key }}----{{ index }}</li>
            </ul>
            <input v-model="Obj.name">
            <div>
                <label for="html">html</label>
                <input type="checkbox" id="html" value="HTML" v-model="checklist">
                <label for="js">js</label>
                <input type="checkbox" id="js" value="JavaScript" v-model="checklist">
                <label for="css">css</label>
                <input type="checkbox" id="css" value="CSS" v-model="checklist">
                <div>{{ checklist }}</div>
            </div>
            <div>
                <label for="html1">html1</label>
                <input type="radio" id="html1" value="HTML" v-model="radio">
                <label for="js1">JavaScript1</label>
                <input type="radio" id="js1" value="JavaScript" v-model="radio">
                <label for="css1">css1</label>
                <input type="radio" id="css1" value="CSS" v-model="radio">
                <div>{{ radio }}</div>
            </div>
            <div>{{ test() }}</div>
            <div>{{ test1 }}</div>
            <helloworld></helloworld>
            <hello></hello>
            <children  v-for="(temp,index) in info" v-bind="temp" :index="index" @money="Moremoney" :ref="'name_'+index"></children>
        </div>
        <script src="../Vue.js"></script>
        <script>
            Vue.component("helloworld",{
                data(){
                    return{
                        msg:"hello world"
                    }
                },
                template:'\
                <div>\
                    <span>{{ msg }}</span>\
                </div>'
            })
            var vm=new Vue({
                el:"#app",
                data:{
                    name:"jifukui",
                    fan:"if(name){console.log(name)}",
                    r:"red",
                    b:"blue",
                    B:"big",
                    title:"显示title的名称",
                    color:["red","blue","yellow"],
                    index:0,
                    display:false,
                    value:"显示",
                    Obj:{
                        name:"sansan",
                        age:18,
                        looks:"beautiful"
                    },
                    checklist:[],
                    radio:'',
                    info:[{
                            name:"gucci",
                            age:17,
                            salary:1000,
                        },
                        {
                            name:"dior",
                            age:18,
                            salary:10000
                        }
                    ]
                },
                methods:{
                    change:function(e)
                    {
                        // console.log("hello");
                        this.index=((++this.index)%this.color.length);
                        // this.index++;
                        console.log(e);
                    },
                    Display:function()
                    {
                        console.log(this.display);
                        this.display=!this.display;
                        this.value=this.display?"隐藏":"显示"
                    },
                    test:function(){
                        console.log("methods "+this.Obj.name);
                    },
                    Moremoney:function(val,index){
                        console.log("the event is "+index);
                        console.log("father have get value "+val);
                        this.info[index].salary=val;
                    }
                },
                watch:{
                    'Obj.name':function(){
                        console.log("watch "+this.Obj.name)
                    }
                },
                computed :{
                    test1:function(){
                        console.log("compute "+this.Obj.name);
                        return this.Obj.name;
                    }
                },
                components:{
                    "hello":{
                        data(){
                            return {
                                msg:"Hello this is jifukui"
                            }
                        },
                        template:"\
                            <div>\
                            <span>{{ msg }}</span>\
                            </div>\
                        "
                    },
                    "children":{
                        data(){
                            return {
                                tname:"good"
                            }
                        },
                        methods:{
                            GetMoreMoney:function(){
                                var data=this.salary;
                                data+=100;
                                console.log("data is "+data);
                                console.log("ref "+this.$refs.tname.innerHTML)
                                this.$emit("money",data,this.index);
                                // this.salary=data;
                            }
                        },
                        props:{
                            name:{
                                type:String,
                                default:"lili"
                            },
                            age:{
                                // type:String,
                                default:100,
                                validator:function(val){
                                    console.log("This val is "+val)
                                    return true;
                                    if(val>10)
                                    {
                                        return false;
                                    }
                                },
                                type:Number
                            },
                            salary:{
                                type:Number,
                                default:0,
                                required:true,
                                validator:function(val){
                                    console.log("This val is "+val);
                                    return true;
                                    if(val>10)
                                    {
                                        return false;
                                    }
                                }
                            },
                            index:{
                                required:true,
                                type:Number
                            }
                        },
                        template:"\
                            <div>           \
                                <label >姓名：</label>\
                                <span :ref= ' \"tname\" '>{{ name }}</span>\
                                <label >年龄：</label>\
                                <span>{{ age }}</span>\
                                <label >薪金</label>\
                                <span>{{ salary }}：</span>\
                                <label >索引号</label>\
                                <span>{{ index }}：</span>\
                                <input type='button' @click='GetMoreMoney' value='加薪'>\
                            </div>         \
                        "
                    }
                }
            })
            vm.name="nibaba";
            console.log(vm.$el.innerHTML);
            vm.$nextTick(()=>{
                console.log(vm.$el.innerHTML);
            });
        </script>
    </body>
</html>