<html>
    <head>
        <style>
            div[style]{
                background-color: coral;
                font-size: 35px;
                border: dimgrey 2px solid;
                padding: 12px;
                margin: 2px;
            }
        </style>
    </head>
    <body>
        
            <div style="width: 60px;height: 80px;float: left;">1</div>
            <div style="width: 60px;height: 80px;float: left;">2</div>
            <div style="width: 60px;height: 80px;float: left;">3</div>
            <div style="width: 60px;height: 80px;float: left;">4</div>
            <div style="visibility: hidden;clear: both;"></div>
        
        
            <div style="width: 60px;height: 80px;float: left;">5</div>
            <div style="width: 60px;height: 80px;float: left;">6</div>
            <div style="width: 60px;height: 80px;float: left;">7</div>
            <div style="width: 60px;height: 80px;float: left;">8</div>
        
    </body>
</html>